# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.idea
**/bot.yml
out
target
*.iml
log
/src/example_json.json

**/admitad.http
**/admitad.yml
